<div class="view-content container-fluid" id="about-view-content">
		<div class="row">
            <div class="method-section supporting-content">
                <div class="supporting-content-wrapper">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    	<div class="supporting-section-title">Method</div>
                    	<div class="supporting-section-body">
                        	Financial independence is the point at which passive income safely exceeds expenses. "Safely" is determined by <a href="http://en.wikipedia.org/wiki/Trinity_study">the 4% safe withdrawal rate,</a> which is the maximum rate at which you can spend your savings such that you don’t run out in your lifetime. With your assets invested in diversified stock market funds which historically gain on average 7-12% annually, one can safely live off passive income forever. <a href="http://www.mrmoneymustache.com/2012/05/29/how-much-do-i-need-for-retirement/">Learn more<a/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="about-section supporting-content">
                <div class="supporting-content-wrapper">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    	<div class="supporting-section-title">About us</div>
                    	<div class="supporting-section-body">
                        	We are <a href="https://github.com/bobo333" target="_blank">Steve</a> and <a href="http://www.nathanrkane.com" target="_blank">Nathan</a>, the makers of Plenti. We believe that people lead more fulfilling lives in financial security, when they can choose how they spend their time. We hope Plenti sheds light on how attainable financial freedom is for many working people, and inspires the lifestyle adjustments that bring financial independence more quickly, like smart spending and investing.
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>