<div class="account-modal container-fluid">
    <div class="modal-header row">
        <h2 class="modal-title">Your account</h2>
    </div>

    <div class="modal-body row">
        
        <form name="resetPassword" novalidate>

            <div>{{ userEmail }} </div>

            <div>{{ userCreatedAt }}</div>

            <button class="btn btn-default" ng-show="passwordResetFormCollapsed" ng-if="passwordResetRouteExists" ng-click="passwordResetFormCollapsed = !passwordResetFormCollapsed"> Change your password</button>

            <div collapse="passwordResetFormCollapsed">
                <div class="form-group">
                    <label for="oldPassword">Old password</label>
                    <input type="password" id="oldPassword" class="form-control" required ng-model="oldpassword" />
                </div>

                <div class="form-group">
                    <label for="newPassword1">New password</label>
                    <input type="password" id="newPassword1" class="form-control" required ng-model="newpassword1" />
                </div>

                <div class="form-group">
                    <label for="newPassword2">New password one more time</label>
                    <input type="password" id="newPassword2" class="form-control" required ng-model="newpassword2" />
                </div>
                
                <input type="submit" value="Update password" ng-click="ok()" class="btn btn-primary" ng-class="{'disabled': !resetPassword.$valid } "/>
                <button ng-click="passwordResetFormCollapsed = !passwordResetFormCollapsed" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>

    <div class="modal-footer" ng-if="passwordResetFormCollapsed">
        <button class="btn btn-primary" ng-click="cancel()">Close</button>
    </div>
               
</div>