<div class="account-modal container-fluid">
    <div class="modal-header row">
        <h2 class="modal-title">Your account</h2>
    </div>

    <div class="modal-body row">

        <div>Account email: {{ userEmail }} </div>

        <div>Account created: {{ userCreatedAt }}</div>

        <button class="btn btn-default" ng-show="passwordResetFormCollapsed" ng-click="passwordResetFormCollapsed = !passwordResetFormCollapsed"> Change your password</button>
            
        <form name="resetPassword" novalidate role="form" ng-submit="reset(credentials)" novalidate >

            <div collapse="passwordResetFormCollapsed">
                <div class="form-group">
                    <label for="oldPassword">Old password</label>
                    <input type="password" id="oldPassword" class="form-control" required ng-model="oldpassword" />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="passwordField" class="form-control" required ng-model="credentials.password" ng-minlength="6" />
                    <div ng-show="resetPassword.passwordField.$touched" class="field-error">
                        <span ng-show="resetPassword.passwordField.$error.required">Please enter a password</span>
                    </div>
                    <div ng-show="resetPassword.passwordField.$touched" class="field-error">
                        <span ng-show="resetPassword.passwordField.$error.minlength">Your password must be at least 6 characters long.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Repeat Password</label>
                    <input type="password" compare-to="credentials.password" required name="passwordConfirmField" class="form-control" ng-model="credentials.passwordconfirm" />
        
                    <div ng-show="resetPassword.passwordConfirmField.$dirty" class="field-error">
                        <span ng-show="resetPassword.passwordConfirmField.$error.required">Please confirm your password</span>
                        <span ng-show="resetPassword.passwordConfirmField.$error.compareTo && !resetPassword.passwordConfirmField.$error.required">Your passwords must match.</span>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary" ng-class="{'disabled': !resetPassword.$valid }">Update password</button>
                <button ng-click="passwordResetFormCollapsed = !passwordResetFormCollapsed" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>

    <div class="modal-footer" ng-if="passwordResetFormCollapsed">
        <button class="btn btn-primary" ng-click="cancel()">Close</button>
    </div>
               
</div>