<div class="view-content container-fluid">
	<div class="row">
	    <div class="view-body-content col-xs-12 col-md-8 col-md-offset-4">
		    <div class="input-title">Assets</div>
		    
		    <div class="step-subheader">All cash, investments, and property ownership</div>
		    <form>
			    <div class="input-field-wrapper">
			        $<input type="text" autofocus placeholder="50,000" ng-currency ng-model="assets.value" >
			    </div>
			    <next-button input-value="{{assets.value}}" next-route="expenses"></next-button>
			</form>
		</div>
	</div>
    
</div>