<section class="calc-view-wrapper">

	<div class="dollars-to-time-wrapper">

		<div class="supporting-section-title calc-title">Convert money to time</div>
		<div class="calc-output-subtext">See how changes in expenses or income affect the time until financial independence.</div>

		<div class="calc-container">
			<div class="row">
				<div class="col-sm-5">
					<div class="input-type-wrapper">
						<div class="calc-val-type-control-wrapper">
							<div class="calc-val-type-control" ng-class="{ 'input-type-active': calc_values.useCustomVals}" ng-click="switchInputVals('american')">Median US citizen</div>
							<i class="fa fa-question-circle output-info-icon converter-info-icon" popover="5% savings rate, starting from $0 in net worth." popover-animation="true" popover-trigger="mouseenter" popover-placement="bottom" ></i>
						</div>
						<div class="calc-val-type-control-wrapper">
							<div class="calc-val-type-control" ng-class="{ 'input-type-active': !calc_values.useCustomVals}" ng-click="showUsersValues()">You</div>
						</div>
					</div>

					<div class="calc-control calc-recurrence-control">
						<div class="btn-group">
					        <label class="btn btn-secondary calc-toggle" ng-model="calc_values.recurring" btn-radio="false">One-time</label>
					        <label class="btn btn-secondary calc-toggle" ng-model="calc_values.recurring" btn-radio="true">Monthly</label>
					    </div>
					</div>

					<div class="calc-control calc-expense-income-control">
						<div class="btn-group">
					        <label class="btn btn-secondary calc-toggle" ng-model="calc_values.expense" btn-radio="true">Expense</label>
					        <label class="btn btn-secondary calc-toggle" ng-model="calc_values.expense" btn-radio="false">Income</label>
					    </div>
					</div>
					<div class="input-field-wrapper calc-input">
						<span class="leading-dollar">$</span>
						<input class="steps" type="text"
					        min="0"
					        max="9999999999"
					        ng-currency
					        autofocus
					        required
					        ng-model="calc_values.amount"
					        placeholder="500"
					    />
					</div>
					<span ng-if="input_error_message.messageCopy" ng-class="{'warning-green': input_error_message.alreadyRetired, 'warning-red': !input_error_message.alreadyRetired}" class="converter-error-message">{{ input_error_message.messageCopy }}
					</span>
				</div>
				<div class="col-sm-2">
					<div class="calc-equal" ng-class="{ 'calc-output-inactive': preconvert}">=</div>
				</div>
				<div class="col-sm-5 col calc-output-wrapper" ng-class="{ 'calc-output-inactive': preconvert}">

					<div class="calc-output-digit-wrapper">
						<div class="calc-time-wrapper">
							<div class="calc-time-number">{{ dates.years }}</div>
							<div class="calc-time-label">Years</div>
						</div>

						<div class="calc-time-wrapper">
							<div class="calc-time-number">{{ dates.months }}</div>
							<div class="calc-time-label">Months</div>
						</div>

						<div class="calc-time-wrapper">
							<div class="calc-time-number">{{ dates.days }}</div>
							<div class="calc-time-label">Days</div>
						</div>
					</div>

					<div class="calc-output-subtext output-explain">
						<span ng-if="calc_values.expense">added to time until financial independence,
							changing the countdown from {{ dates.fewer_years_to_retirement }} years {{ dates.fewer_months_to_retirement }} months to {{ dates.more_years_to_retirement }} years {{ dates.more_months_to_retirement }} months.
						</span><span ng-if="!calc_values.expense">reduced from time until financial independence,
							changing the countdown from {{ dates.more_years_to_retirement }} years {{ dates.more_months_to_retirement }} months to {{ dates.fewer_years_to_retirement }} years {{ dates.fewer_months_to_retirement }} months.
						</span>
					</div>

				</div>
			</div>
		</div>

	</div>
</section>
