<div class="calc-view-wrapper">

	<div class="dollars-to-time-wrapper">

		<div class="supporting-section-title calc-title">Convert money to time</div>

		<div class="input-type-wrapper">
			<div class="calc-output-subtext" ng-class="{ 'input-type-active': calc_values.useCustomVals}" ng-click="switchInputVals('american')">Median American</div>
			<div class="calc-output-subtext" ng-class="{ 'input-type-active': !calc_values.useCustomVals}" ng-click="showUsersValues()">You</div>
		</div>

		<div class="calc-container">
			<div class="row">
				<div class="col-sm-5">
					
					<div class="calc-control calc-recurrence-control">
						<div class="btn-group">
					        <label class="btn btn-secondary calc-toggle" ng-model="calc_values.recurring" btn-radio="false">One-time</label>
					        <label class="btn btn-secondary calc-toggle" ng-model="calc_values.recurring" btn-radio="true">Monthly</label>
					    </div>
					</div>

					<div class="calc-control calc-expense-income-control">
						<div class="btn-group">
					        <label class="btn btn-secondary calc-toggle" ng-model="calc_values.expense" btn-radio="true">Expense</label>
					        <label class="btn btn-secondary calc-toggle" ng-model="calc_values.expense" btn-radio="false">Income</label>
					    </div>
					</div>
					<form name="converterForm" ng-submit="convert()">
						<div class="input-field-wrapper calc-input">
							<span class="leading-dollar">$</span>
							<input class="steps" type="text"
						        min="0"
						        max="9999999999"
						        ng-currency
						        autofocus
						        required
						        ng-model="calc_values.amount" 
						        placeholder="500"
						        ng-blur="convert()"
						    />
						</div>
						<input type="submit" value="Convert" class="btn btn-default btn-primary convert-button" ng-disabled="converterForm.$invalid" />
					</form>
				</div>
				<div class="col-sm-2">
					<div class="calc-equal" ng-class="{ 'calc-output-inactive': preconvert}">=</div>
				</div>
				<div class="col-sm-5 col calc-output-wrapper" ng-class="{ 'calc-output-inactive': preconvert}">

					<div class="calc-output-digit-wrapper">
						<div class="calc-time-wrapper">
							<div class="calc-time-number">{{ dates.years }}</div>
							<div class="calc-time-label">Years</div>
						</div>
	
						<div class="calc-time-wrapper">
							<div class="calc-time-number">{{ dates.months }}</div>
							<div class="calc-time-label">Months</div>
						</div>
	
						<div class="calc-time-wrapper">
							<div class="calc-time-number">{{ dates.days }}</div>
							<div class="calc-time-label">Days</div>
						</div>
					</div>

					<div class="calc-output-subtext">
						<span>{{ cashflowLabel }} </span> time until financial independence.
					</div>

				</div>
			</div>
		</div>

	</div>
</div>