<div class="view-content container-fluid">
    <form name="expensesForm" ng-submit="expensesctrl.submitForm()" novalidate>
        <div class="row">
            <div class="view-body-content col-xs-12 col-md-8 col-md-offset-4">
                <div class="input-title">Expenses</div>
                <div class="step-subheader">Bills, rent, mortgage interest, and spending every month</div>
                <div class="input-field-wrapper">
                    <span class="leading-dollar">$</span>
                    <input type="text" 
                    autofocus
                    required
                    ng-currency
                    placeholder="3,500"
                    class="steps"
                    min="0"
                    max="99999"
                    ng-model="expensesctrl.expenses" />
                    <span class="after-input-text">per month</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="next-button-wrapper col-xs-12">
                <input type="submit" value="&#xf105;" ng-show="expensesForm.$valid" class="next-button hide-fade" />
            </div>
        </div>
    </form>
</div>