<div class="account-modal container-fluid">
    <i class="fa fa-close modal-icon-close" ng-click="cancel()"></i>
    <div class="modal-header row">
        <h2 class="modal-title">Feedback</h2>
    </div>

    <div class="modal-body row">
                <div class="feedback-modal-message">
                    We'd love to hear from you. Send us a note at:
                </div>
                <a href="mailto:hello@aboundapp.com" class="feedback-modal-email">hello@aboundapp.com</a>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary feedback-close-button" ng-click="cancel()">Close</button>
    </div>
</div>
