<div class="header-wrapper" ng-controller="HeaderController">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container-fluid nav-content-wrapper">
                <div class="navbar-header">
                    <button type="button" id="navbar-toggle-custom" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" ng-click="logoLink()">
                        <div id="header-brand-wrapper">
                            <img src="img/curvy-bowl-white-bg.png" id="brand-logo">
                            <div class="logo-name-wrapper">
                                <span class="logo-name">Abound</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div collapse="isCollapsed">
                    <ul class="nav navbar-nav navbar-right" ng-if="!data.currentUser">
                        <li><a class="nav-item-custom" ng-click="openLoginModal()">Sign in</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-if="!data.currentUser">
                        <li><a class="nav-item-custom" ng-click="openSignUpModal()">Sign up</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-item-custom" ng-click="converterLink()">Money-to-time converter</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-if="data.currentUser">
                        <li><a class="nav-item-custom" ng-click="openAccountModal()"><i class="fa fa-cog"></i>Account</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-click="logout()" ng-if="data.currentUser">
                        <li><a class="nav-item-custom"><i class="fa fa-cog"></i> Sign out</a></li>
                    </ul>
                </div>
                <div class="expanded-nav">
                    <ul class="nav navbar-nav navbar-right" ng-if="data.currentUser">
                        <li class="dropdown" dropdown>
                           <a class="nav-item-custom dropdown-toggle" dropdown-toggle><i class="fa fa-cog settings-cog"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-click="openAccountModal()">Account</a>
                                    <a ng-click="logout()">Sign out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-item-custom" ng-href="#/dollars-to-time">Money-to-time converter</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-item-custom" ng-click="openLoginModal()" ng-if="!data.currentUser">Sign in</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-item-custom" ng-click="openSignUpModal()" ng-if="!data.currentUser">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>