<div class="view-content intro-content container-fluid">
	<div class="row">
		<div class="primary-tagline col-xs-8 col-xs-offset-2">
			Freedom can be closer than you think
		</div>
		<div class="secondary-tagline col-xs-6 col-xs-offset-3">
			Plenti predicts how long until you can leave your job and live off your investments.
		</div>
	</div>
	<div class="row">
		<div class="lp-button-wrapper col-xs-12">
			<input ng-click="submitForm()" type="button" value="Start" class="lp-button" />
		</div>
	</div>
</div>