<div class="view-content intro-content container-fluid">
	<div class="row">
		<img src="img/curvy-bowl-dark-bg.png" id="intro-graphic">
		<div class="primary-tagline col-xs-12 col-sm-offset-2 col-sm-8">
			Reach freedom sooner
		</div>
		<div class="secondary-tagline col-xs-12 col-sm-offset-3 col-sm-6">
			Plenti predicts how long until you can leave your job and live solely off your investments
		</div>
	</div>
	<div class="row button-row">
		<div class="lp-button-wrapper col-xs-12">
			<input ng-click="submitForm()" type="button" value="Start" class="lp-button" />
		</div>
		<div id="learn-more" class="col-xs-12"><i class="fa fa-angle-down learn-more-icon"></i>How it works</div>
	</div>
	<div class="row benefits-row">
		<div class="intro-benefit col-md-4">
			<div class="intro-benefit-title">Retirement, simplified</div>
			<p class="intro-benefit-body">Enter in your current income, expenses, and net worth, and Plenti tells you how long until you're financially independent. It's all based on academic research used to determine how much you need to retire indefinitely.</p>
		</div>
		<div class="intro-benefit col-md-4">
			<div class="intro-benefit-title">Simulate scenarios</div>
			<p class="intro-benefit-body">See the impact on your countdown to retirement if you made more or cut some monthly expenses. Plenti recommends some ways to save, earn more, and invest smartly to achieve your goal faster.</p>
		</div>
		<div class="intro-benefit col-md-4">
			<div class="intro-benefit-title">Track your progress</div>
			<p class="intro-benefit-body">Watch your years to retirement decrease over time. Plenti can send reminders to tell you if you're on track according to your plan.</p>
		</div>

	</div>
</div>