<div class="login-modal container-fluid">
    <div class="modal-header row">

        <div class="modal-title-container col-xs-8">
            <h2 class="modal-title" ng-show="isReturningUser">Login</h2>
            <h2 class="modal-title" ng-show="!isReturningUser">Create account</h2>
        </div>

        <div class="signup-side col-xs-4">
            <a ng-click="attemptToCreateAccount()" ng-if="isReturningUser">Create a Plenti account</a>
            <a ng-click="attemptToSignIn()" ng-if="!isReturningUser">Already have an account? Sign in</a>
        </div>

    </div>

    <form name="loginForm" novalidate>

    <div class="modal-body row">
        
        <div class="col-sm-8">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" required ng-model="emailsubmission" />
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" required ng-model="passwordsubmission1" />
            </div>
            <div class="form-group" ng-if="!isReturningUser">
                <label for="password2">Password one more time</label>
                <input type="password" class="form-control" required ng-model="passwordsubmission2" />
            </div>

            <div><a href="#" ng-if="isReturningUser">Forgot your email/password?</a></div>

            <div class="checkbox" ng-if="isReturningUser">
                <label>
                    <input type="checkbox" checked> Remember me
                </label>
            </div>

        </div>
                
    </div>
    <div class="modal-footer">
        <input ng-if="isReturningUser" type="submit" value="Login" ng-click="ok(); login()" class="btn btn-primary login-button" />
        <input ng-if="!isReturningUser" type="submit" value="Create account" ng-click="ok(); login()" class="btn btn-primary login-button" />    
    </div>

    </form>
    
</div>