<div class="login-modal container-fluid">

    <i class="fa fa-close modal-icon-close" ng-click="cancel()"></i>

    <div class="modal-header row">

        <div class="modal-title-container">
            <h2 class="modal-title" ng-if="!showSignUp">Sign in</h2>
            <h2 class="modal-title" ng-if="showSignUp">Sign up</h2>
        </div>

        <div class="signup-side" ng-click="showSignUp = !showSignUp">
            <a ng-if="!showSignUp">Or, sign up for Abound</a>
            <a ng-if="showSignUp">Or, sign in</a>
        </div>

    </div>

    <form name="loginForm" role="form" ng-submit="login(credentials)" novalidate ng-if="!showSignUp">

        <div class="modal-body row">
            <div class="">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="emailField" required ng-model="credentials.email" />
                    <div ng-show="loginForm.$submitted" class="field-error">
                        <span ng-show="loginForm.emailField.$error.required">Please enter an email</span>
                    </div>
                    <div ng-show="loginForm.$submitted || loginForm.emailField.$touched" class="field-error">
                        <span ng-show="loginForm.emailField.$error.email">Oops—looks like you need to write a real email.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="passwordField" required ng-model="credentials.password" />
                    <div ng-show="loginForm.$submitted" class="field-error">
                        <span ng-show="loginForm.passwordField.$error.required">Please enter a password</span>
                    </div>
                </div>

                <div class="login-form-controls-wrapper" ng-show="null">
                    <div class="checkbox remember-me-link">
                        <label>
                            <input type="checkbox" checked> Remember me
                        </label>
                    </div>

                    <div class="forgot-password-link"><a href="#">Forgot your password?</a></div>

                </div>

            </div>

            <div class="field-error">{{ loginFailureMessage }} </div>
        </div>



        <div class="modal-footer">
            <button type="submit" ng-click="ok()" class="btn btn-primary login-button" ng-disabled="loginForm.$invalid">Login</button>
        </div>

    </form>

    <form name="signUpForm" ng-submit="createAccount(credentials)" novalidate ng-if="showSignUp">

        <div class="modal-body row">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="emailField" class="form-control" required ng-model="credentials.email" />
                <div ng-show="signUpForm.$submitted" class="field-error">
                    <span ng-show="signUpForm.emailField.$error.required">Please enter an email</span>
                </div>
                <div ng-show="signUpForm.$submitted || signUpForm.emailField.$touched" class="field-error">
                    <span ng-show="signUpForm.emailField.$error.email">Oops—looks like you need to write a real email.</span>
                </div>
                <div class="field-error">{{ signUpFailureMessage }} </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="passwordField" class="form-control" required ng-model="credentials.password" ng-minlength="6" />
                <div ng-show="signUpForm.$submitted || signUpForm.passwordField.$touched" class="field-error">
                    <span ng-show="signUpForm.passwordField.$error.required">Please enter a password</span>
                </div>
                <div ng-show="signUpForm.$submitted || signUpForm.passwordField.$touched" class="field-error">
                    <span ng-show="signUpForm.passwordField.$error.minlength">Your password must be at least 6 characters long.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Repeat Password</label>
                <input type="password" compare-to="credentials.password" required name="passwordConfirmField" class="form-control" ng-model="credentials.passwordconfirm" />

                <div ng-show="signUpForm.$submitted || signUpForm.passwordConfirmField.$touched" class="field-error">
                    <span ng-show="signUpForm.passwordConfirmField.$error.required">Please confirm your password</span>
                    <span ng-show="signUpForm.passwordConfirmField.$error.compareTo && !signUpForm.passwordConfirmField.$error.required">Your passwords must match.</span>
                </div>
            </div>

            <div class="checkbox login-checkbox">
                <label>
                    <input type="checkbox" ng-model="termsChecked"> I agree to <a ui-sref="terms-of-service" ng-click="cancel()">Abound terms</a>
                </label>
            </div>

        </div>


        <div class="modal-footer">
            <button type="submit" class="btn btn-primary login-button" ng-disabled="signUpForm.$invalid || !termsChecked">Sign up</button>
        </div>

    </form>

</div>
