<div class="view-content container-fluid" id="about-view-content" ng-controller="AboutController">
    <div class="row">
        <div class="method-section supporting-content">
            <div class="supporting-content-wrapper">
                <div class="col-xs-12 col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                	<div class="supporting-section-title">Method</div>
                	<div class="supporting-section-body">
                        <p>
                    	Financial independence is the point at which passive income safely exceeds expenses. "Safely" is determined by <a href="http://en.wikipedia.org/wiki/Trinity_study">the 4% safe withdrawal rate,</a> which is the maximum rate at which you can spend your savings such that you don’t run out in your lifetime. With your assets invested in diversified stock market funds which historically gain on average 7-12% annually, one can safely live off passive income forever.
                        <br>
                        <br>
                        A shorthand way to find your target amount of assets for financial independence is 25 times your expenses.
                        <br>
                        <br>
                        Is financial independence the same as retirement? For some people, yes. But essentially financial independence means you no longer need to earn an income to safely pay your expenses.
                        <br>
                        <br>
                        <div class="content-subsection-header">Our assumptions</div>
                        <br>
                        <span class="italic">Income growth rate</span> - By default, we assume your income grows at 5% annually until you are financially independent. We recognize this is highly dependent upon personal situation, so you can customize it.
                        <br>
                        <br>
                        <span class="italic">Assets growth rate</span> - By default, we assume your assets grow at 7.5% annually, which tracks the historic stock market performance. This is an important to note, since this also assumes that you are investing the bulk of your assets in stock/equity-based investments, such as stock market index funds, with low fees. If your investment portfolio is more conservative, holding assets like cash, bonds, or real estate, adjust this assumption downward to improve your estimate.
                        <br>
                        <br>
                        <span class="italic">Expenses growth rate</span> - By default, we assume your expenses grow at 3.5% annually, which is the same number we use to assume for inflation. This would require you to maintain a similar rate of spending into the future, through into financial independence. Adjust this to match your anticipated changes in expense rate, relative to inflation.
                        </p>
                        <br>
                        <a href="http://www.mrmoneymustache.com/2012/05/29/how-much-do-i-need-for-retirement/" target="_blank">Mr. Money Mustache writes more about this model<a/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>