<nav class="tabs-wrapper">
    <div class="header-tabs">
        <div class="tab income-tab" ui-sref-active="active" ui-sref="income">
            <div class="tab-text">1</div>
        </div>
        <div class="tab assets-tab" ui-sref-active="active" ui-sref="assets">
            <div class="tab-text">2</div>
        </div>
        <div class="tab expenses-tab" ui-sref-active="active" ui-sref="expenses">
            <div class="tab-text">3</div>
        </div>
    </div>
</nav>
<div class="tabs-wrapper-dummy"></div>
