<div>
    <div class="retirement-years" ng-bind="retirement.years_to_retirement"></div>
    <br><br>
    <div class="retirement-time-units">years and <span class="" ng-bind="retirement.months_to_retirement"></span> months</div> 
    <br><div class="step-subheader">until financial independence</div> 
    
    <br><br>
    <div class="container-fluid">
    	<div class="row">
	    	<svg id="retirement-graph" class="col-md-6"></svg>

	    	<div class="method-section col-md-5">
		    	<div class="method-title">How</div>
		    	<div class="method-body">

		    		Financial independence is the point at which passive income safely exceeds expenses. "Safely" is determined by the 4% Safe Withdrawal Rate, which is the empirically-proven maximum rate at which you can spend your savings such that you don’t run out in your lifetime. With your assets invested in diversified stock market funds, one can safely live off passive income forever.
		    		<a href="http://www.mrmoneymustache.com/2012/05/29/how-much-do-i-need-for-retirement/">Learn more</a>

		    		<br><br>
		    		Our simplifying assumptions
		    		<br><br>
		    		<ul>
			    		<li>Inflation rate of 3.5%.</li>
			    		<li>Income increases at 5%.</li>
			    		<li>Expenses grow with inflation.</li>
			    		<li>Assets track historical stock market average gains of 7.5%</li>
			    	</ul>

	    		</div>
	    	</div>

    	</div>
    </div>
    
    
</div>