<div>
	<div class="container-fluid">
    	<div class="row">
    		<div class="col-md-5 retirement-main-output">
			    <div class="retirement-years" ng-bind="retirement.years_to_retirement"></div>
			    <br>
			    <div class="retirement-time-units">years and <span class="" ng-bind="retirement.months_to_retirement"></span> months</div> 
			    <br><div class="step-subheader">until financial independence</div> 
			</div>
			<svg id="retirement-graph" class="col-md-7"></svg>
	    </div>
	</div>
	<br>
    <div class="container-fluid">
    	<div class="row">
	    	<div class="method-section">
	    		<div class="how-content">
			    	<div class="method-title">How</div>
			    	<div class="method-body">

			    		Financial independence is the point at which passive income safely exceeds expenses. "Safely" is determined by the 4% Safe Withdrawal Rate, which is <a href="http://en.wikipedia.org/wiki/Trinity_study">the maximum rate</a> at which you can spend your savings such that you don’t run out in your lifetime. With your assets invested in diversified stock market funds which historically gain on average 7-12% annually, one can safely live off passive income forever.
			    		<a href="http://www.mrmoneymustache.com/2012/05/29/how-much-do-i-need-for-retirement/">Learn more</a>

			    		<h2 class="subsection-header">
			    		Our simplifying assumptions
			    		</h2>
			    		<ul>
				    		<li>Inflation rate of 3.5%.</li>
				    		<li>Income increases at 5%.</li>
				    		<li>Expenses grow with inflation.</li>
				    		<li>Assets track historical stock market average gains of 7.5%</li>
				    	</ul>

		    		</div>
		    	</div>
	    		<button class="btn btn-primary btn-lg about-button" data-toggle="modal" data-target="#aboutModal">About</button>

	    		<!-- Modal -->
				<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h2 class="modal-title" id="myModalLabel">About Beanstalk</h2>
				      </div>
				      <div class="modal-body">
				        Hi there, we are Steven Cipriano and Nathan Kane. <br><br>We believe deeply that people should be empowered to spend their time how they want, and not on work they hate. We hope that Beanstalk sheds light on how attainable financial freedom is, perhaps through some lifestyle adjustments. These may include smart frugal living, like cooking and bicycling, and also smart investing, through automated, diversified stocks index funds.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
	    	</div>

    	</div>
    </div>
    
    
</div>