<!DOCTYPE HTML>

<html ng-app="FinancialFreedom">

    <head>

        <meta name=viewport content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/output/screen.css">
        
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="bower_components/d3/d3.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-i18n/angular-locale_en-us.js"></script>
        
        <script type="text/javascript" src="javascript/custom/ng-currency.js"></script>
        
        <script type="text/javascript" src="javascript/retirement_calculator_module.js"></script>
        <script type="text/javascript" src="javascript/create_retirement_graph_module.js"></script>
        <script type="text/javascript" src="javascript/app.js"></script>

        <title>Plenti: Financial freedom for all</title>
    </head>
    
    <body ng-controller="bodyController">
        <div class="header-wrapper" ng-controller="HeaderController">
            <div id="header-accent"></div>
            <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="header-text navbar-brand" id="product-name" ng-click="goToRoute('/income')"><img src="/img/bowl.png" class="brand-logo"></a>
                        <a class="header-text navbar-brand" id="product-name" ng-click="goToRoute('/income')"><span>Plenti</span></a>
                    </div>
                    <div class="navbar-"
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right nav-item-custom">
                            <li><a ng-click="goToRoute('/about')">About</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="tabs-wrapper" ng-show="isStep()"> <!--  -->
                <div class="header-tabs">
                    <div class="tab income-tab" ng-class="{'active': isActive('/income')}" ng-click="goToRoute('/income')">
                        <div class="tab-text">1</div>
                    </div>
                    <div class="tab assets-tab" ng-class="{'active': isActive('/assets')}" ng-click="goToRoute('/assets')">
                        <div class="tab-text">2</div>
                    </div>
                    <div class="tab expenses-tab" ng-class="{'active': isActive('/expenses')}" ng-click="goToRoute('/expenses')">
                        <div class="tab-text">3</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div ng-view></div>
    </body>

</html>