/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../../sass/partials/_header.scss */
.header {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlOGUzYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI3NjAzNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e8e3b), color-stop(100%, #276036));
  background-image: -moz-linear-gradient(#1e8e3b, #276036);
  background-image: -webkit-linear-gradient(#1e8e3b, #276036);
  background-image: linear-gradient(#1e8e3b, #276036);
  height: 150px;
  position: relative;
}

/* line 18, ../../sass/partials/_header.scss */
.header-text {
  font-family: "Oxygen", sans-serif;
  color: white;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 24, ../../sass/partials/_header.scss */
.header-text a, .header-text a:hover {
  color: white;
  text-decoration: none;
}
/* line 29, ../../sass/partials/_header.scss */
.header-text:hover {
  color: #EEFFDA;
  cursor: pointer;
}

/* line 35, ../../sass/partials/_header.scss */
.product-name {
  font-size: 39px;
  font-weight: 700;
}

/* line 40, ../../sass/partials/_header.scss */
.tag-line {
  font-weight: 300;
}

/* line 44, ../../sass/partials/_header.scss */
.navbar {
  border: none;
  border-radius: 0px;
  margin-bottom: 0px !important;
  border-bottom: 1px solid black;
}

@media screen and (min-width: 768px) {
  /* line 51, ../../sass/partials/_header.scss */
  .header-tabs {
    width: 60%;
    margin: auto auto auto auto;
  }
}
/* line 58, ../../sass/partials/_header.scss */
.header-tabs .tab {
  font-family: 'Oxygen', sans-serif;
  display: inline-block;
  width: 33.3%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: none;
  border-right: none;
  background: none;
  color: #404040;
  height: 70px;
  padding-top: 25px;
  font-size: 19.5px;
}
@media screen and (min-width: 768px) {
  /* line 74, ../../sass/partials/_header.scss */
  .header-tabs .tab:first-child {
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  /* line 77, ../../sass/partials/_header.scss */
  .header-tabs .tab:last-child {
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
/* line 82, ../../sass/partials/_header.scss */
.header-tabs .tab:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  width: 33.4%;
}
/* line 87, ../../sass/partials/_header.scss */
.header-tabs .tab.active {
  font-weight: bold;
  background: #EEFFDA;
}
/* line 91, ../../sass/partials/_header.scss */
.header-tabs .tab.active:hover {
  background: #EEFFDA;
}
/* line 96, ../../sass/partials/_header.scss */
.header-tabs .tab:hover {
  cursor: pointer;
  background: rgba(238, 255, 218, 0.35);
}

/* line 3, ../../sass/partials/_input.scss */
.view-content {
  padding-left: 0px;
}

/* line 7, ../../sass/partials/_input.scss */
input[type="text"] {
  width: 150px;
  height: 60px;
  padding-left: 12px;
  margin-left: 20px;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-bottom-width: 1px;
}
/* line 61, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:-moz-placeholder {
  font-family: 300;
  font-size: 26px;
  color: rgba(119, 119, 119, 0.22);
  font-style: italic;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  /* line 61, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
  input[type="text"]:-moz-placeholder {
    font-size: 52px;
    line-height: 1;
  }
}
/* line 64, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]::-moz-placeholder {
  font-family: 300;
  font-size: 26px;
  color: rgba(119, 119, 119, 0.22);
  font-style: italic;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  /* line 64, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
  input[type="text"]::-moz-placeholder {
    font-size: 52px;
    line-height: 1;
  }
}
/* line 67, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:-ms-input-placeholder {
  font-family: 300;
  font-size: 26px;
  color: rgba(119, 119, 119, 0.22);
  font-style: italic;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  /* line 67, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
  input[type="text"]:-ms-input-placeholder {
    font-size: 52px;
    line-height: 1;
  }
}
/* line 56, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]::-webkit-input-placeholder {
  font-family: 300;
  font-size: 26px;
  color: rgba(119, 119, 119, 0.22);
  font-style: italic;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  /* line 56, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
  input[type="text"]::-webkit-input-placeholder {
    font-size: 52px;
    line-height: 1;
  }
}
@media screen and (min-width: 768px) {
  /* line 7, ../../sass/partials/_input.scss */
  input[type="text"] {
    width: 300px;
    line-height: 1;
    height: 80px;
  }
}

/* line 39, ../../sass/partials/_input.scss */
.input-title, .retirement-years {
  font-size: 52px;
  color: #404040;
  line-height: 70px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  /* line 39, ../../sass/partials/_input.scss */
  .input-title, .retirement-years {
    font-size: 65px;
  }
}

/* line 51, ../../sass/partials/_input.scss */
.input-title, .retirement-years, .step-subheader, .input-field-wrapper {
  text-align: center;
}
@media screen and (min-width: 992px) {
  /* line 51, ../../sass/partials/_input.scss */
  .input-title, .retirement-years, .step-subheader, .input-field-wrapper {
    text-align: inherit;
  }
}

/* line 58, ../../sass/partials/_input.scss */
.step-subheader {
  font-size: 13px;
  color: #404040;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  /* line 58, ../../sass/partials/_input.scss */
  .step-subheader {
    font-size: 19.5px;
    line-height: 32px;
  }
}

/* line 70, ../../sass/partials/_input.scss */
.input-field-wrapper {
  font-size: 19.5px;
  font-weight: 300;
  line-height: normal;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  /* line 70, ../../sass/partials/_input.scss */
  .input-field-wrapper {
    font-size: 78px;
    margin-top: 20px;
  }
}
/* line 82, ../../sass/partials/_input.scss */
.input-field-wrapper .after-input-text, .input-field-wrapper .retirement-time-units {
  font-size: 13px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  /* line 82, ../../sass/partials/_input.scss */
  .input-field-wrapper .after-input-text, .input-field-wrapper .retirement-time-units {
    font-size: 26px;
    vertical-align: middle;
  }
}

/* line 92, ../../sass/partials/_input.scss */
input:focus {
  outline: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 97, ../../sass/partials/_input.scss */
.retirement-main-output {
  margin-top: 100px;
}

/* line 101, ../../sass/partials/_input.scss */
.retirement-time-units {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

/* line 108, ../../sass/partials/_input.scss */
.retirement-years {
  font-size: 195px;
}

/* line 4, ../../sass/partials/_next_button.scss */
.next-button {
  font-family: 'Oxygen', sans-serif;
  position: fixed;
  height: 120px;
  bottom: 0;
  background: #1e8e3b;
  text-align: center;
  color: white;
  opacity: 0.6;
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* line 4, ../../sass/partials/_next_button.scss */
  .next-button {
    width: 400px;
    height: 80px;
    display: block;
    margin: 30px auto auto auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
  }
}
/* line 24, ../../sass/partials/_next_button.scss */
.next-button.active {
  opacity: 1;
  cursor: pointer;
}
/* line 29, ../../sass/partials/_next_button.scss */
.next-button .text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 39px;
}

/* line 3, ../../sass/partials/_method.scss */
.method-section {
  color: #404040;
  float: right;
  position: relative;
  padding-left: 0px;
  font-weight: 300;
  font-size: 15.6px;
}
@media screen and (min-width: 992px) {
  /* line 3, ../../sass/partials/_method.scss */
  .method-section {
    font-size: 19.5px;
    background: #EEFFDA;
    margin: 10px auto 0px auto;
  }
}
@media screen and (min-width: 1200px) {
  /* line 3, ../../sass/partials/_method.scss */
  .method-section {
    font-size: 26px;
  }
}

/* line 27, ../../sass/partials/_method.scss */
.how-content {
  padding: 50px;
  margin-bottom: 50px;
}

/* line 33, ../../sass/partials/_method.scss */
.method-title {
  font-weight: 600;
  font-size: 65px;
  text-align: center;
}

/* line 39, ../../sass/partials/_method.scss */
.method-body {
  margin-top: 50px;
  line-height: 1.3;
}
/* line 44, ../../sass/partials/_method.scss */
.method-body li {
  list-style-type: circle;
}

/* line 49, ../../sass/partials/_method.scss */
.subsection-header, .modal-title {
  margin: 40px auto 40px auto;
  font-weight: 600;
}

/* line 54, ../../sass/partials/_method.scss */
.btn-primary {
  background: #1d8e3b;
}

/* line 58, ../../sass/partials/_method.scss */
.about-button {
  background: #055d1c;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  color: white;
  border: transparent;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
}
/* line 70, ../../sass/partials/_method.scss */
.about-button:hover, .about-button:visited {
  background: #1d8e3b;
}
/* line 74, ../../sass/partials/_method.scss */
.about-button:focus {
  outline: none;
}

/* line 79, ../../sass/partials/_method.scss */
.about-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 83, ../../sass/partials/_method.scss */
.modal-title {
  margin: auto auto;
}

/* line 12, ../../sass/screen.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 16, ../../sass/screen.scss */
.expense-line, .withdraw-line {
  stroke-width: 1;
  fill: none;
  shapeRendering: crispEdges;
}

/* line 22, ../../sass/screen.scss */
.expense-line {
  stroke: red;
}

/* line 26, ../../sass/screen.scss */
.withdraw-line {
  stroke: green;
}

/* line 30, ../../sass/screen.scss */
.axis line, .axis path {
  fill: none;
  stroke: #000000;
  shapeRendering: crispEdges;
}
