/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../../sass/partials/_header.scss */
.header {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlOGUzYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI3NjAzNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e8e3b), color-stop(100%, #276036));
  background-image: -moz-linear-gradient(#1e8e3b, #276036);
  background-image: -webkit-linear-gradient(#1e8e3b, #276036);
  background-image: linear-gradient(#1e8e3b, #276036);
  height: 150px;
  position: relative;
}

/* line 21, ../../sass/partials/_header.scss */
.headerText {
  font-family: 'Oxygen', sans-serif;
  color: #FFFFFF;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 30, ../../sass/partials/_header.scss */
.productName {
  font-size: 39px;
  font-weight: 700;
}

/* line 35, ../../sass/partials/_header.scss */
.tagLine {
  font-weight: 300;
}

/* line 39, ../../sass/partials/_header.scss */
.navbar {
  border: none;
  border-radius: 0px;
  margin-bottom: 0px !important;
  border-bottom: 1px solid black;
}

/* line 48, ../../sass/partials/_header.scss */
.header-tabs .tab {
  display: inline-block;
  width: 33.3%;
  text-align: center;
  border-right: 1px solid black;
  background: #1E8E3B;
  color: #FFFFFF;
}
/* line 56, ../../sass/partials/_header.scss */
.header-tabs .tab:last-child {
  border-right: none;
  width: 33.4%;
}
/* line 61, ../../sass/partials/_header.scss */
.header-tabs .tab.active {
  font-weight: bold;
}
/* line 65, ../../sass/partials/_header.scss */
.header-tabs .tab:hover {
  cursor: pointer;
}

/* line 3, ../../sass/partials/_next_button.scss */
.next-button {
  height: 70px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #1E8E3B;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
}
/* line 13, ../../sass/partials/_next_button.scss */
.next-button.active {
  opacity: 1;
}

/* line 10, ../../sass/screen.scss */
.retirement-years {
  color: green;
}

/* line 14, ../../sass/screen.scss */
.expense-line, .withdraw-line {
  stroke-width: 1;
  fill: none;
  shapeRendering: crispEdges;
}

/* line 20, ../../sass/screen.scss */
.expense-line {
  stroke: red;
}

/* line 24, ../../sass/screen.scss */
.withdraw-line {
  stroke: green;
}

/* line 28, ../../sass/screen.scss */
.axis line, .axis path {
  fill: none;
  stroke: #000000;
  shapeRendering: crispEdges;
}

/* line 34, ../../sass/screen.scss */
.view-content {
  padding-bottom: 70px;
}
