.login-modal,
.account-modal {
    position: relative;
}

.modal-icon-close {
    color: $modal-close-icon-color;
    font-size: 2em;
    position: absolute;
    right: 15px;
	top: 15px;

	&:hover {
		cursor: pointer;
	}
}

.modal-header {
    @include border-top-radius(6px);
	background-color: $light-bg-green;
}

.modal-content {
	@include border-top-radius(7px);
}

.modal-title {
	color: $body-text-color;
	letter-spacing: -.02em;
}

.modal-backdrop {
	background-color: $modal-backdrop-color;
	height: 100%;
	width: 100%;
}

.signin-side,
.signup-side {
	margin-top: 10px;

    a:hover {
        cursor: pointer;
    }
}

.modal-footer {
	text-align: center;
}

.signup-side,
.signin-side {
	@include vertical-align;
}

.login-form-controls-wrapper {
	width: 100%;
}

.forgot-password-link {
	display: inline-block;
	float: right;
	margin-bottom: 10px;
	margin-top: 10px;
	position: inline-block;
}

.remember-me-link {
	display: inline-block;
}

.modal-secondary-button {
	margin-left: 10px;
}

.modal-dialog {
    width: auto;

	@include min-screen($screen-md-min) {
		max-width: 450px;
		min-width: 400px;
	}
}

.form-control.ng-invalid.ng-touched {
    border-color: $error-text-color;
 }

 .field-error {
 	color: $error-text-color;
 	margin-top: 5px;
 }

 .checkbox.login-checkbox {
 	margin-top: 25px;
 }
