.modal-header {
	background-color: $light_bg_green;
	@include border-top-radius(6px);
}

.modal-content {
	@include border-top-radius(7px);

}

.modal-title {
	color: $body_text_color;
}

.modal-backdrop {
	background-color: black;
	width: 100%;
	height: 100%
}

.signin-side, .signup-side {
	display: inline-block;
	text-align: right;
	margin-top: 20px;
	a:hover {
        cursor: pointer;
    }
}

.modal-footer {
	text-align: center;
}

.vert-divider {
	width: 1px;
	height: 100%;
	background-color: #404040;
}