.modal-header {
	background-color: $light_bg_green;
	@include border-top-radius(6px);
}

.modal-content {
	@include border-top-radius(7px);

}

.modal-title {
	color: $body_text_color;
	letter-spacing: -0.02em;
}

.modal-backdrop {
	background-color: black;
	width: 100%;
	height: 100%
}

.signin-side, .signup-side {
	margin-top: 10px;
	a:hover {
        cursor: pointer;
    }
}

.modal-footer {
	text-align: center;
}

.signup-side, .signin-side {
	@include vertical-align;
}

.login-form-controls-wrapper {
	width: 100%;
}

.forgot-password-link {
	display: inline-block;
	float: right;
	position: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.remember-me-link {
	display: inline-block;
}

.modal-secondary-button {
	margin-left: 10px;
}

.modal-dialog {
	width: 450px;
}