
.ng-enter { 
	transition: 1s linear all;
	opacity: 0;
}

.ng-enter-active {
	transition: 1s linear all;
	opacity: 1;
}

.ng-leave {
	transition: 0s linear all;
	opacity: 1;
}

.ng-leave-active {
	transition: 1s linear all;
	opacity: 0;
}