// Use Compass ('cause it rocks!)
@import "compass/css3";
@import "compass/reset";
@import "compass/utilities";

// Sass media queries
@import "../bower_components/sass-mediaqueries/media-queries";

// Font weights

// Brand Name Font
$brand_font_family: 'Oxygen', sans-serif;
$brand_font_weight_light: 300;
$brand_font_weight_bold: 700;

// Base Font
$base_font_family: 'Open Sans', sans-serif;
$base_font_size: 13px;
$base_line_height: 1.4;
$base_font_weight_light: 300;
$base_font_weight_normal: 300;
$base_font_weight_semi_bold: 600;
$base_font_weight: $base_font_weight_normal;

// Fixed Font
$fixed_font_family: monospace;
$fixed_font_size: 85%;
$fixed_line_height: $base_line_height;

// Headings


// Colors
$primary_green: #1D8E3B;
$dark_green: #055D1C;

// Alignment
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Breakpoints
$screen_sm_min: 768px;
$screen_md_min: 992px;
$screen_lg_min: 1200px;

//@import "../modules/*";