// Use Compass ('cause it rocks!)
@import 'compass/css3';
@import 'compass/reset';
@import 'compass/utilities';
@import 'compass/css3/selection';
@import 'compass/css3/transform';

// Sass media queries
@import '../bower_components/sass-mediaqueries/media-queries';

// Breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// Brand Name Font
$brand-font-family: 'Oxygen', sans-serif;
$brand-font-weight-light: 300;
$brand-font-weight-bold: 700;

// Base Font
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-size: 16px;
$base-line-height: 1;
$base-font-weight-light: 300;
$base-font-weight-normal: 400;
$base-font-weight-semi-bold: 600;

@include min-screen($screen-sm-min) {
	$base-font-size: 13px;
}

// Headings

h2 {
    font-size: 3em;
    font-weight: $base-font-weight-semi-bold;
}

h3 {
    font-size: 2em;
    font-weight: $base-font-weight-normal;
}

// Colors
$primary-green: #2b8e69;
$dark-green: #0d412e;
$light-bg-green: rgba($primary-green, .05);
$secondary-brown: #da9b03;
$light-brown-bg: #fcf5ec;
$body-text-color: #404040;
$btn-secondary-bg: #fff;
$modal-close-icon-color: hsla(0, 0%, 50%, 1);
$modal-backdrop-color: #000;
$error-text-color: hsla(7, 60%, 43%, 1);
$nav-hover-color: #25a793;
$font-color-dark-bg: #fff;
$active-tab-color: rgba($dark-green, .6);
$nav-height: 50px;
$nav-border-radius: 25px;
$primary-shadow-color: rgba(0, 0, 0, .1);
$tabs-wrapper-bg: rgba($dark-green, .2);
$nav-item-color: rgba($font-color-dark-bg, .7);
$nav-toggle-border-color: #fff;
$nav-toggle-bg: rgba(#fff, .3);
$lp-button-color: #fff;

// Custom Fonts
@mixin basic-font {
    font-family: 'Oxygen', sans-serif;
}

// Alignment


@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin hover-animation($property) {
    @include transition-property($property);
    @include transition-timing-function(ease);
    @include transition-duration(.3s);
}

// Borders

$section-bottom-border: 1px solid rgba($primary-green, .12);

// Forms

$input-field-width: 250px;

.form-group {
  label {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
}

// Buttons

.btn-primary {
    background: $primary-green;

    &[disabled] {
        background: $primary-green;
    }

    &:hover {
        background: $dark-green;
    }
}

.btn-secondary {
  background: $btn-secondary-bg;
  border: 2px solid $primary-green;
  color: $primary-green;
}

html,
body {

    @include selection($primary-green, $btn-secondary-bg);

    font-family: $base-font-family;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
}
