.footer-container {
	background: $light-bg-green;
	border-top: $section-border;
	position: relative;
	width: 100%;
}

.footer-content-wrapper {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 500px;
	padding: 25px 0;

	a {
		margin: auto;
		width: 150px;
	}
}
