// Header



// Colors
$header_gradient_bottom: #276036;
$header_gradient_top: #1E8E3B;
$tab_border_color: black;
$title_color: #FFFFFF;
$border-style: 1px solid rgba(0,0,0,.15);

.header {
	@include background-image(linear-gradient($header_gradient_top,$header_gradient_bottom));
	height: 150px;
	position: relative;
}

.header-text {
    font-family: $brand_font_family;
    color: $title_color;
    text-shadow: 0px 1px 4px rgba(0,0,0,0.50);
    text-align: center;
    @include vertical-align;
	a, a:hover {
		color: $title_color;
		text-decoration: none;
        
	}
    &:hover {
        color: #EEFFDA;
        cursor: pointer;
    }
}

.product-name {
	font-size: $base_font_size*3;
	font-weight: $brand_font_weight_bold;
}

.tag-line {
	font-weight: $brand_font_weight_light;
}

.navbar {
	border: none;
	border-radius: 0px;
    margin-bottom: 0px !important;
}

.tabs-wrapper {
    background: black;
}

.tab-text {
    @include vertical-align;
}

.header-tabs {

    @include min-screen($screen_sm_min) {
        width: 60%;
        margin: auto auto auto auto;
    }

    .tab {
        @include basic-font;
        display: inline-block;
        width: 33.3%;
        text-align: center;
        border-top: none;
        border-right: none;
        background: none;
        color: white;
        height: 60px;
        font-size: $base_font_size * 1.5;

        @include min-screen($screen_sm_min) {

            // &:first-child {
            //     @include border-bottom-left-radius(15px);
            // }
            // &:last-child {
            //     @include border-bottom-right-radius(15px);
            // }
        }   
        
        &:last-child {
            border-right: $border-style;
            width: 33.4%; // to fix the .1% offset it was showing
        }
        
        &.active {
            font-weight: bold;
            background: #535353;

            &:hover {
                background: #535353;
            }
        }
        
        &:hover {
            cursor: pointer;
            background: rgba(216,216,216,0.25);
        }

    }
}
