// Header



// Colors
$header_gradient_top: #276036;
$header_gradient_bottom: #1E8E3B;
$title_color: #FFFFFF;

.header {
	@include background-image(linear-gradient($header_gradient_bottom,$header_gradient_top));
	height: 150px;
	position: relative;
}

@include min-screen($screen_sm_min) 
{
}

.header-text {
font-family: $brand_font_family;
color: $title_color;
text-shadow: 0px 1px 4px rgba(0,0,0,0.50);
text-align: center;
@include vertical-align;
	a, a:hover {
		color: $title_color;
		text-decoration: none;
	}

}

.productName {
	font-size: $base_font_size*3;
	font-weight: $brand_font_weight_bold;
}

.tagLine {
	font-weight: $brand_font_weight_light;
}

.navbar {
	border: none;
	border-radius: 0px;
}