$input_field_width: 300px;

.view-content {
	padding: 0px;
}

.dollars-to-time-wrapper.input-wrapper {
	max-width: 615px;
	text-align: center;
}

input[type="text"].steps {

  width: $input_field_width / 2;
  height: 60px;
  padding-left: $input_field_width * 0.04;
  margin-left: 20px;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: $body_text_color;
  border-bottom-width: 1px;

  @include min-screen($screen_sm_min) {
	width: $input_field_width;
	line-height: $base_line_height;
	height: 80px;
  }

  @include input-placeholder {
    font-family: $base_font_weight_light;
	font-size: $base_font_size * 2;
	color: rgba(119,119,119,0.22);
    font-style: italic;
    @include vertical-align;

    @include min-screen($screen_sm_min) {
		font-size: $base_font_size * 3;
		line-height: $base_line_height;
	}
  }
}

.input-title {
	font-size: 3em;
	color: $body_text_color;
	line-height: 70px;
	font-weight: $base_font_weight_semi_bold;
	text-transform: uppercase;
	margin-top: 2%;

	@include min-screen($screen_sm_min) {
		font-size: 5em;
	}
}

.input-title, .step-subheader, .input-field-wrapper {
	text-align: center;

	@include min-screen($screen_md_min) {
		text-align: inherit;
	}
}

.step-subheader {
    font-size: 1em;
	margin-top: 5px;
	color: $body_text_color;
	font-weight: $base_font_weight_normal;
	@include min-screen($screen_sm_min) {
		font-size: 1.5em;
		line-height: $base-line-height;
	}
}

.input-field-wrapper {
	font-size: $base_font_size * 2;
	font-weight: $base_font_weight_light;
	line-height: normal;
	margin-top: 20px;

	@include min-screen($screen_sm_min) {
		font-size: $base_font_size * 3;
		margin-top: 20px;
	}

	.after-input-text {
		font-size: $base_font_size ;
		margin-left: 20px;

		@include min-screen($screen_sm_min) {
			font-size: $base_font_size * 2;
			vertical-align: middle;
		}
	}
}

input:focus {
	outline: none;
  	@include box-shadow(none !important);
}

.convert-button {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.input-type-wrapper {
	display: flex;
	justify-content: center;
	width: 40%;
	margin-top: 5%;
	margin-left: 7%;
}

.dollars-to-time-wrapper {
    border: $section-bottom-border;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    margin-top: 30px;
    padding: 15px 35px 30px 35px;
    border-radius: 4px;
}

.calc-time-wrapper {
    display: inline-block;
    text-align: center;
    margin-right: 25px;
}

.calc-control {
    margin-top: 10px;
    text-align: center;
}

.calc-time-number {
    font-size: 5em;
    font-weight: $brand_font_weight_bold;
}

.calc-container {
    margin-top: 3%;
}

.calc-equal {
    font-size: 6em;
    text-align: center;
    padding-top: 30px;
}

.calc-view-wrapper {
    height: 100vh;
    width: 100vw;
    background: $light_bg_green;
    padding-top: 10%;

    @include min-screen($screen_sm_min) {
        padding-top: 10%;
    }
}

.calc-title {
    text-align: center;
    font-size: 2rem;
    @include min-screen($screen_sm_min) {
        font-size: 4rem;
    }

}

.calc-time-label {
    font-size: 1.5em;
    text-transform: uppercase;
}

.calc-input {
    margin-top: 0px;

    .leading-dollar {
        margin-left: 0px;
    }
}

.calc-toggle {
    width: 100px;
}

.calc-output-wrapper {
    text-align: center;
}

.calc-control {
    .btn.active {
        font-weight: $brand_font_weight_bold;
        box-shadow: inset -3px 3px 10px 3px rgba(0, 0, 0, 0.1),
                    inset 3px -3px 10px 3px rgba(0, 0, 0, 0.1)
    }
}

.calc-output-digit-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.input-type-active {
    font-weight: $brand_font_weight_bold;
    text-decoration: underline;
    color: $dark_green;
}

.calc-output-subtext {
    font-size: 1.1em;
    margin-top: 0px;
    opacity: 0.6;
    line-height: 1.2em;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.calc-val-type-control-wrapper {
    width: 100%;
}

.calc-val-type-control {
    @extend .calc-output-subtext;
    text-align: left;
    margin-left: 15px;
    width: auto;

    &:hover {
        cursor: pointer;
    }
}

.calc-output-inactive {
    opacity: 0.25;
}

.green {
	color: $primary_green;
}

.red {
	color: red;
}
