.view-content {
	padding: 0;
}

.steps {
  border: 0;
  border-bottom-color: $body-text-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 60px;
  max-width: $input-field-width / 2;
  padding-left: $input-field-width * .04;

  @include min-screen($screen-sm-min) {
	height: 80px;
	line-height: $base-line-height;
	max-width: $input-field-width;
  }

  @include input-placeholder {
    @include vertical-align;
	color: $placeholder-color;
    font-family: $base-font-weight-light;
	font-size: $base-font-size * 2;
    font-style: italic;

    @include min-screen($screen-sm-min) {
		font-size: $base-font-size * 3;
		line-height: $base-line-height;
	}
  }
}

.input-title {
	color: $body-text-color;
	font-size: 3em;
	font-weight: $base-font-weight-semi-bold;
	line-height: 70px;
	margin-top: 2%;
	text-transform: uppercase;

	@include min-screen($screen-sm-min) {
		font-size: 5em;
	}
}

.input-title,
.step-subheader,
.input-field-wrapper {
	text-align: center;

	@include min-screen($screen-md-min) {
		text-align: inherit;
	}
}

.step-subheader {
	color: $body-text-color;
    font-size: 1em;
	font-weight: $base-font-weight-normal;
	margin-top: 5px;

	@include min-screen($screen-sm-min) {
		font-size: 1.5em;
		line-height: $base-line-height;
	}
}

.input-field-wrapper {
	font-size: $base-font-size * 2;
	font-weight: $base-font-weight-light;
	line-height: normal;
	margin-top: 20px;

	@include min-screen($screen-sm-min) {
		font-size: $base-font-size * 3;
		margin-top: 20px;
	}

	.after-input-text {
		font-size: $base-font-size;
		margin-left: 20px;

		@include min-screen($screen-sm-min) {
			font-size: $base-font-size * 2;
			vertical-align: middle;
		}
	}
}

input:focus {
  	@include box-shadow(none);
	outline: none;
}

.convert-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.input-type-wrapper {
	display: flex;
	justify-content: center;
	margin: 5% auto 10%;
}

.calc-wrapper {
	display: flex;
	align-items: center;
}

.dollars-to-time-wrapper {
    background: $section-alternate-color-bg;
    border: $section-border;
    border-radius: 4px;
	border-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding: 1% 5% 3%;

	@include min-screen($screen-sm-min) {
		border: $section-border;
		padding: 1% 2% 3%;
	}

	&.input-wrapper {
		max-width: 615px;
		padding-bottom: 8%;
		text-align: center;

		@include min-screen($screen-sm-min) {
			padding-bottom: 3%;
		}
	}
}

.calc-time-wrapper {
    display: inline-block;
    margin-right: 5%;
    text-align: center;

	&:last-child {
		margin-right: 0;
	}
}

.calc-control {
    margin-top: 10px;
    text-align: center;
}

.calc-time-number {
    font-size: 5em;
    font-weight: $brand-font-weight-bold;
}

.calc-container {
    margin-bottom: 3%;
    margin-top: 3%;
}

.calc-equal {
    font-size: 6em;
	padding-top: 3%;
}

.calc-input-error {
	margin-top: 5%;
}

.calc-view-wrapper {
    background: $light-bg-green;
    min-height: 95vh;
    padding-top: 0%;
    width: 100vw;

    @include min-screen($screen-sm-min) {
        padding-top: 5%;
    }
}

.calc-title {
    font-size: 2rem;
    text-align: center;

    @include min-screen($screen-sm-min) {
        font-size: 4rem;
    }

}

.calc-time-label {
    font-size: 1.5em;
    text-transform: uppercase;
}

.calc-input {
    margin-top: 5%;

    .leading-dollar {
        margin-left: 0;
    }
}

.calc-toggle {
    width: 100px;

	&.active {
			box-shadow: inset -3px 3px 10px 3px $button-hover-shadow-1,
						inset 3px -3px 10px 3px $button-hover-shadow-1;
			font-weight: $brand-font-weight-bold;
		}
}

.calc-output-wrapper {
	margin-top: 5%;
    text-align: center;
}

.calc-output-digit-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.calc-output-subtext {
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.2em;
    margin-top: 0;
    opacity: .6;
    text-align: center;
    width: 100%;
}

.calc-val-type-control-wrapper {
	display: inline-block;
	margin: auto 5%;

	@include min-screen($screen-md-min) {
		margin: auto 7%;
	}
}

.calc-val-type-control {
	display: inline;
	font-size: 1.3rem;
	opacity: .3;

    &:hover {
		@include hover-animation(opacity);
        cursor: pointer;
		opacity: 1;
    }

	&.input-type-active {
	    color: $dark-green;
	    font-weight: $brand-font-weight-bold;
		opacity: 1;
	}
}

.warning-green {
	color: $primary-green;
}

.warning-red {
	color: $error-text-color;
}

.converter-error-message {
	display: block;
	margin-top: 3%;
}
