$input_field_width: 300px;

.view-content {
	padding: 0px;
}

.dollars-to-time-wrapper.input-wrapper {
	max-width: 615px;
	text-align: center;
}

.leading-dollar {
	margin-left: 25px;
}

input[type="text"].steps {
  
  width: $input_field_width / 2;
  height: 60px;
  padding-left: $input_field_width * 0.04;
  margin-left: 20px;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: $body_text_color;
  border-bottom-width: 1px;

  @include min-screen($screen_sm_min) {
	width: $input_field_width;
	line-height: $base_line_height;
	height: 80px;
  }

  @include input-placeholder {
    font-family: $base_font_weight_light;
	font-size: $base_font_size * 2;
	color: rgba(119,119,119,0.22);
    font-style: italic;
    @include vertical-align;
    
    @include min-screen($screen_sm_min) {
		font-size: $base_font_size * 3;
		line-height: $base_line_height;
	}
  }
}

.input-title {
	font-size: 3em;
	color: $body_text_color;
	line-height: 70px;
	font-weight: $base_font_weight_semi_bold;
	text-transform: uppercase;
	margin-top: 2%;
    
	@include min-screen($screen_sm_min) {
		font-size: 5em;
	}
}

.input-title, .step-subheader, .input-field-wrapper {
	text-align: center;
    
	@include min-screen($screen_md_min) {
		text-align: inherit;
	}
}

.step-subheader {
    font-size: 1em;
	margin-top: 5px;
	color: $body_text_color;
	font-weight: $base_font_weight_normal;
	@include min-screen($screen_sm_min) {
		font-size: 1.5em;		
		line-height: $base-line-height;
	}
}

.input-field-wrapper {
	font-size: $base_font_size * 2;
	font-weight: $base_font_weight_light;
	line-height: normal;
	margin-top: 20px;

	@include min-screen($screen_sm_min) {
		font-size: $base_font_size * 3;
		margin-top: 20px;
	}

	.after-input-text {
		font-size: $base_font_size ;
		margin-left: 20px;
        
		@include min-screen($screen_sm_min) {
			font-size: $base_font_size * 2;
			vertical-align: middle;
		}
	}
}

input:focus {
	outline: none;
  	@include box-shadow(none !important);
}

.convert-button {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.input-type-wrapper {
	display: flex;
	justify-content: center;
}