.intro-content {
	background: $dark-green;
	min-height: 95vh;
	padding: 15% 5%;
	position: relative;
	text-align: center;
	width: 100vw;

	@include min-screen($screen-sm-min) {
		padding: 15% 5%;
	}
}

.primary-tagline {
	color: $font-color-dark-bg;
	display: inline-block;
	font-size: 3em;
	font-weight: $base-font-weight-semi-bold;
	margin-left: 15px;
	text-align: center;
	vertical-align: top;

	@include min-screen($screen-sm-min) {
		font-size: 5em;
	}
}

.secondary-tagline {
	color: $font-color-dark-bg;
	font-size: 1em;
	font-weight: $base-font-weight-light;
	line-height: 1.4em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	max-width: 550px;
	opacity: .8;
	text-align: center;

	@include min-screen($screen-sm-min) {
		font-size: 1.7em;
		line-height: 1.4em;
	}
}

.lp-button-wrapper {
	padding: 0;
	width: 100%;
}

.lp-button {
	@include border-radius(10px);

	background: $dark-green;
	border: $lp-button-color solid 2px;
	color: $lp-button-color;
	cursor: pointer;
	display: block;
	font-size: 1.5em;
	margin: 55px auto auto;
	padding: 20px 30px;
	text-align: center;

	&:hover {
        background: rgba($lp-button-color, .25);
    }
}

.intro-graphic {
	display: inline-block;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 160px;
	width: 30%;
}
