.method-section {
	color: #404040;
	padding: 50px;
	@include min-screen($screen_md_min) {
		background: #EEFFDA;
		@include border-radius(15px);
	}
	margin: 10px 30px;
	float: right;

}

.method-title {
	font-weight: $base_font_weight_semi_bold;
	font-size: $base_font_size * 5;
	text-align: center;
}

.method-body {
	font-weight: $base_font_weight_light;
	font-size: $base_font_size * 1.2;

	@include min-screen($screen_md_min) {
		font-size: $base_font_size * 1.5;
	}

	@include min-screen($screen_lg_min) {
		font-size: $base_font_size * 2;
	}

	margin-top: 50px;
	line-height: $base_line_height * 1.3;

	li {
		list-style-type: circle;
	}
}