$method-section-border-radius: 15px;

.supporting-content {

	color: #404040;
	float: right;
	position: relative;
	padding-left: 0px;
	padding-bottom: 50px;
	font-weight: $base_font_weight_light;
	font-size: $base_font_size * 2;
	
	@include min-screen($screen_md_min) {
		font-size: $base_font_size * 1.5;
	}

	@include min-screen($screen_lg_min) {
		font-size: $base_font_size * 2;
	}
}

.method-section {
	margin: 0px auto 0px auto;
	background: $dark_green;
	color: #fff;
	margin-top: 80px;
}

.supporting-content-wrapper {
	padding: 20px 20px;

	@include min-screen($screen_sm_min) {
		padding: 50px auto;
	}
}

.supporting-section-title {
	font-weight: $base_font_weight_semi_bold;
	font-size: $base_font_size * 3;
	margin-top: 20px;

	@include min-screen($screen_sm_min) {
		font-size: $base_font_size * 3;
	}
}

.supporting-section-body {

	line-height: $base_line_height * 1.3;
	font-size: $base_font_size;
	padding: 0px auto 0px auto;
	margin-top: 30px;

	li {
		list-style-type: circle;
	}
	@include min-screen($screen_sm_min) {
		font-size: $base_font_size * 1.3;
	}
}

.subsection-header {
	margin: 40px auto 40px auto;
	font-weight: $base_font_weight_semi_bold;
}

.btn-primary {
	background: $primary_green;
}

.about-section {
	background: #fff; 
	width: 100%;
	border: transparent;
	
	@include border-radius(0px);

}

.about-text {
	@include vertical-align;
}