$next-button-height-min-sm: 80px;
$next-button-height: 120px;

.next-button {
    @include basic-font;
    position: fixed;
    height: $next-button-height;
    bottom: 0;
    background: $header-gradient-top;
    text-align: center;
    color: $title-color;
    opacity: 0.6;
    width: 100%;

    @include min-screen($screen_sm_min) {
        width: 400px;
        height: $next-button-height-min-sm;
        display: block;
        margin: 30px auto auto auto;
        @include border-radius(10px);
        position: relative;
    }

    &.active {
        opacity: 1;
        cursor: pointer;
    }
    
    .text {
        @include vertical-align;
        text-transform: uppercase;
        font-size: $base-font-size * 3;
    }
}