// Time to retirement

$expense_color: red;
$withdraw_color: green;
$intersection_color: black;
$tooltip_bg: rgba(28,142,58,0.80);
$main_bubble_color: #fff;
$main_bubble_diameter: 250px;

#graph-wrapper {

    .tooltip {
        &.in {
            opacity: 1;
        }
        
        .bold {
            font-weight: $base_font_weight_semi_bold;
        }
        
        .tooltip-arrow {
            border-top-color: $tooltip_bg;
        };
        
        .tooltip-inner {
            text-align: left;
            background: $tooltip_bg;
            font-size: 14px;
            padding: 10px;
            line-height: 1.3em;
        }
    }

    #retirement-graph {
        font-size: 16px;

        .expense-line, .withdraw-line {
            stroke-width: 2;
            fill: none;
            shapeRendering: crispEdges;
        }

        .expense-line {
            stroke: $expense_color;
        }

        .expense-label {
            fill: $expense_color;
        }

        .withdraw-line {
            stroke: $withdraw_color;
        }

        .withdraw-label {
            fill: $withdraw_color;
        }

        .axis line, .axis path {
            fill: none;
            stroke: #000000;
            shapeRendering: crispEdges;
        }
        
        .intersection-point {
            fill: $intersection_color;
            stroke: $intersection_color;
        }
    }
}

.retirement-main-output {
    margin-top: 0px;
    text-align: center;
}

.retirement-time-units {
    @extend .after-input-text;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: $base_font_size * 2;
    color: $main_bubble_color;
}

.retirement-years {
    @extend .input-title;
    font-size: $base_font_size * 10;
    margin-top: 50px;
    color: $main_bubble_color;
}

.months-line {
    color: rgba(255,255,255,0.25);
    margin-top: 5px;
    border-top: 0px solid black;
}

.cannot-retire {
    @extend .supporting-section-body;
}

.can-retire {
    padding-top: 30px;
    padding-bottom: 50px;
}

.until-fi {
    @extend .step-subheader;
    margin-top: 35px;
}

.big-number-bg {
    background: #404040;
    width: $main_bubble_diameter;
    height: $main_bubble_diameter;
    @include border-radius(50%);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.big-number-wrapper {
    @include vertical-align;
}

.input-control {
    margin-top: 20px;
}

.assumptions-btn {
    margin-top: 50px;
    border-color: #404040;
    background: #404040;
}

.control-label {
    text-align: center;
    margin-top: 10px;
}

.controls-row {
    margin-top: 40px;
}

.output-top-section {
    border-bottom: 1px solid rgba(49,78,95,0.12)
}