// Time to retirement

$expense_color: red;
$withdraw_color: green;
$intersection_color: black;

#graph-wrapper {

    .tooltip {
        &.in {
            opacity: 1;
        }
        
        .bold {
            font-weight: $base_font_weight_semi_bold;
        }
        
        .tooltip-arrow {
            border-top-color: $primary_green;
        };
        
        .tooltip-inner {
            text-align: left;
            background: $primary_green;
            font-size: 14px;
            padding: 10px;
        }
    }

    #retirement-graph {
        font-size: 16px;

        .expense-line, .withdraw-line {
            stroke-width: 1;
            fill: none;
            shapeRendering: crispEdges;
        }

        .expense-line {
            stroke: $expense_color;
        }

        .expense-label {
            fill: $expense_color;
        }

        .withdraw-line {
            stroke: $withdraw_color;
        }

        .withdraw-label {
            fill: $withdraw_color;
        }

        .axis line, .axis path {
            fill: none;
            stroke: #000000;
            shapeRendering: crispEdges;
        }
        
        .intersection-point {
            fill: $intersection_color;
            stroke: $intersection_color;
        }
    }
}

.retirement-main-output {
    margin-top: 100px;
    text-align: center;
}

.retirement-time-units {
    @extend .after-input-text;
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
    font-size: $base_font_size * 2;
}

.retirement-years {
    @extend .input-title;
    font-size: $base_font_size * 15;
}

.months-line {
    color: #A0A0A0;
    margin-top: 10px;
}

.cannot-retire {
    @extend .supporting-section-body;
}